/************************************************

Stylesheet: Global Stylesheet

*************************************************/
/*********************
POSTS & CONTENT STYLES
*********************/
.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background-color: #14679e;
    color: #fefefe; }

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-right: -15px;
  margin-left: -15px; }

.gallery::before, .gallery::after {
  content: ' ';
  display: table; }

.gallery::after {
  clear: both; }

.gallery.gallery-columns-1 > dl {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-1 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-1 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-2 > dl {
  width: 50%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-2 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-2 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-3 > dl {
  width: 33.33333%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-3 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-3 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-4 > dl {
  width: 25%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-4 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-4 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-5 > dl {
  width: 20%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-5 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-5 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-6 > dl {
  width: 16.66667%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-6 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-6 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-7 > dl {
  width: 14.28571%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-7 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-7 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-8 > dl {
  width: 12.5%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-8 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-8 > dl:last-child:not(:first-child) {
    float: right; }

.gallery dl {
  width: 100%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.gallery dl:last-child:not(:first-child) {
  float: right; }

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem;
  width:100%; }

/*********************
COMMENT STYLES
*********************/
/*#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }*/

/*********************
COMMENT FORM STYLES
*********************/
/*.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }*/

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar li {
  list-style: none; }

.widget ul {
  margin: 0; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  /* margin-top: 1em; */ }

/*********************
VISUAL EDITOR STYLES
*********************/
body#tinymce {
  margin: 20px; }

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }

/*# sourceMappingURL=style.css.map */

/*********************
MTW SITE CUSTOMIZATIONS
*********************/
body { color:#242626; }
body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: 'Gothic A1', sans-serif; }

.h1, h1 { font-size:28px; font-weight:500; }
.h2, h2 { font-size:24px; font-weight:500; }
.h3, h3 { font-size:22px; font-weight:500; }
.h4, h4 { font-size:18px; font-weight:500; }
.h5, h5 { font-size:16px; font-weight:500; }
.h6, h6 { font-size:14px; font-weight:500; }

a[href^="tel"] {
  color: inherit; /* Inherit text color of parent element. */
  text-decoration: none; /* Remove underline. */
}

.active { color:#003d94; }
.hover { color:#005cb5; }

.red { color:#a11217; }
.red-hover { color:#cc1c29; }

.gray { color:#545759; }
.gray-hover { color:#6b6e73; }

.nomargin { margin:0}

.nav-seperator { color:#003d94; }
.pagination .current { background-color:#a11217; ; }

footer.footer { background-color:#D2D2D9; color:#242626; font-weight:600; }
footer.footer a { color:#242626; padding:.7rem 0rem; }
footer.footer a:hover { color:#a11217; }
footer.footer .menu .active>a { background:transparent; color:#242626; }
footer.footer nav li { width:100%; }
footer.footer nav, footer.footer .footer-meta { margin:4rem 0rem; }
footer.footer .nav-section { font-size:18px; font-weight:700; color:#003d94; }
footer.footer .footer-meta p { margin:1rem 0rem 0rem 0rem; }
footer.footer .copyright { font-size:12px; }

/*********************
CUSTOM NAVIGATIONS
*********************/

header.header { border-bottom:4px solid #003d94; }
.top-bar, .top-bar ul { background-color:inherit; padding:0; }
.top-bar .top-bar-left .custom-logo-link { padding:1em 0em;  }

.top-bar .top-bar-right.float-right .menu { float:right; }
.top-bar .top-bar-right.float-right .menu .menu-icon { }
.top-bar .top-bar-right .menu a { line-height:inherit; font-weight:600; min-height:100px; padding:2.4em 1em; background-color:inherit; color:#242626; border-top:3px solid #FFF; }
.top-bar .top-bar-right .menu .active a { background:#003d94; border-top:3px solid #a11217; color:#FFF; }
.top-bar .top-bar-right .menu  a:hover { background:#005CB5; border-top:3px solid #003d94; color:#FFF; }

.header .top-bar-cta { text-align:right; position:relative; bottom:1.25em; z-index:10; height:.5px; }
.header .top-bar-cta .button { padding:1em 3em; margin: 0em; text-transform:uppercase; font-weight:600; }
.header .top-bar-cta .button.pay-cta { color:#FFF; background-color:#545759; }
.header .top-bar-cta .button.pay-cta:hover { background-color:#6b6e73; }
.header .top-bar-cta .button.contact-cta { color:#FFF; background-color:#a11217; }
.header .top-bar-cta .button.contact-cta:hover { background-color:#cc1c29; }

.header .top-bar-mob-cta .button { padding:1em 3em; margin: 0em; text-transform:uppercase; font-weight:800; width:50%; font-size:.8rem; }
.button.pay-cta { color:#FFF; background-color:#545759; }
.button.pay-cta:hover { background-color:#6b6e73; }
.button.contact-cta { color:#FFF; background-color:#a11217; }
.button.contact-cta:hover { background-color:#cc1c29; }

.off-canvas.position-right { width:100%; background:#003d94; box-shadow:none; -webkit-box-shadow:none; }

.off-canvas .menu.vertical {}
.off-canvas .menu.vertical li { text-align:center; font-weight:600; font-size:18px; }
.off-canvas .menu.vertical a { padding:1.5em; }
.off-canvas .menu.vertical li a { background:#003d94; color:#FFF; }
/*.off-canvas .menu.vertical li .active>a { background:#FFF; color:#003d94; }*/
.off-canvas .menu.vertical .active>a { background:#FFF; color:#003d94; border-bottom:3px solid #a11217; }
.off-canvas .top-bar-mob-cta {}
.off-canvas .top-bar-mob-cta .button.pay-cta,
.off-canvas .top-bar-mob-cta .button.contact-cta { width:50%; text-transform:uppercase; font-weight:800; font-size:.8rem; }

.breadcrumb { margin:2em 0em; }
.breadcrumb #breadcrumbs {}
.breadcrumb #breadcrumbs a { color:inherit; }
.breadcrumb #breadcrumbs .current { font-weight:700; }

/*********************
CUSTOM PAGE COMPONENTS
*********************/

.nav-search {border:2px solid #a11217; border-radius:50px; opacity:0; }
.nav-search #s { text-align:center; font-size:.85rem; font-weight:800; margin-right:2em; background:transparent; border:none; height:2rem; box-shadow:none; transition:none; }
.nav-search-submit { position:absolute; top:0; right:0; margin:0em !important; background:url("../images/mtw-search-icon.png") no-repeat;  border:none;  height:36px;  width:36px;  color:transparent; cursor:pointer; }
.nav-sub { position:absolute; top:0; right:0; cursor:pointer; }

.home {}
.cta-button { font-size:12px; }
.cta-button, .slide-cta-button { text-transform:uppercase; font-weight:700; color:#FFF; border:2px solid #FFF; padding:.375rem 1.5rem; }
.cta-button:hover, .slide-cta-button:hover { color:#FFF; background-color:#cc1c29; }
.videos-home, .related-content { color:#FFF; background: url("../images/mtw-cta-grey-bg.png") no-repeat top center / cover; }
.videos-home .content { padding-top:4em; padding-bottom:3em; text-align:center; }
.videos-home .content h2 { margin-bottom:2.5em; }
.videos-home .content .cta-button { font-size:12px; }
.related-content .content { padding-top:2em; padding-bottom:4em; }
.related-content h2 { margin-top: 1rem; margin-bottom: 2.5rem; }
.related-content article.category-news .entry-content p { text-align:left; line-height:1.2; }
.partners-home .partners-section h3 { margin-top:2.5em; font-weight:600; }
.swapper img:last-child{display:none}
.swapper:hover img:first-child{display:none}
.swapper:hover img:last-child{display:inline-block}
.orbit-caption { width:55%; margin: 10% 0%; padding: 3em; }
.orbit-bullets button { height:1rem; width:1rem; margin:.1rem; border-radius:50%; }


.related-cert { color:#FFF; background: url("../images/mtw-cta-blue-bg.png") no-repeat top center / cover; }
.related-cert .inner-content { padding:5em; }
.related-cert .inner-content h2 { padding:1em; }

.content.grid-container { margin-bottom:1em; }

.search article { margin-bottom:1em; }
.search article .featured-image a { color:inherit; }
.search article .featured-image a i { color:inherit; font-size:4em; }
.search article .article-header .title { padding-top:1rem; font-size:18px; font-weight:700; }
.search article .article-header .title a { color:inherit; }
article { text-align:center; }
article.category-news .article-header { margin-bottom:1em; }
article.category-news .article-header .title { padding-top:1rem; font-size:18px; font-weight:700; }
article.category-news .article-header .title a { color:inherit; }
article.category-news .entry-content .entry-title { margin-top: 1.75rem; margin-bottom: 1rem; }
article.category-news .entry-content p { text-align:left; }
article.type-products .article-footer .button { text-transform:uppercase; font-weight:800; padding:.85em 2em; background-color:transparent; }
article.type-products .article-footer .button.download { color:#FFF; border:2px solid #a11217; background-color:#a11217;  }
article.type-products .article-footer .button.download:hover { background-color:#cc1c29; }
.single article .entry-content ul { text-align:left; }

.archive article.category-news .entry-content { margin-bottom:2em; }
.archive article.category-news .entry-content p { text-align:center; line-height:1.2; }
.archive article.category-news .entry-content .read-button { font-size:10px; font-weight:900; text-transform:uppercase; padding:.5rem 1.5rem; border:2px solid #cc1c29; color:#242626; text-align:center; }
.archive article.category-news .entry-content .read-button:hover { background-color:#cc1c29; color:#FFF; text-align:center; }

.product-grid .product-filter { padding:1em 0em 3em 0em; }
.product-grid .type-icon { position:relative; z-index:10; top:10px; left:-10px; max-width:40px; }
.product-grid .products { position:relative; top:-50px; z-index:9;  }
.product-grid .products .article-header a { color:inherit; }
.product-grid .products .article-header h3 { color:inherit; padding:1em 0em 0em 0em; margin-bottom:0; min-height:4em; }
.product-grid .products .article-header h6 { color:inherit; padding:1em 0em; margin-bottom:0; }

.product-grid .products .entry-content { padding-bottom:4em; }
.product-grid .products .entry-content .button { font-size:10px; text-transform:uppercase; font-weight:800; padding:.5em 2em; background-color:transparent; }
.product-grid .products .entry-content .button.download { color:#FFF; border:2px solid #a11217; background-color:#a11217;  }
.product-grid .products .entry-content .button.download:hover { background-color:#cc1c29; }
.product-grid .products .entry-content .button.info { border:2px solid #cc1c29; color:#242626; }
.product-grid .products .entry-content .button.info:hover { background-color:#cc1c29; color:#FFF; }

.certification-grid article { text-align:left; margin-bottom:2em; }
.certification-grid article .entry-content .title { font-size:16px; font-weight:700; }
.certification-grid article .entry-content .button { font-size:10px; text-transform:uppercase; font-weight:800; padding:.5em 2em; background-color:transparent; }
.certification-grid article .entry-content .button.view { border:2px solid #cc1c29; color:#242626; }
.certification-grid article .entry-content .button.view:hover { background-color:#cc1c29; color:#FFF; }

.product-image-gallery { padding: 1.5rem;}
.product-thumbs li { padding:0em 0em 1em 1em; }
.product-thumbs a { padding: 0 !important; }
.product-thumbs a img { display: inline-block; max-width: 100%; line-height: 0; width: 100px; height: 100px; border: none; }
.product-thumbs a.active { outline: 3px solid #a11217; outline-offset: -3px; }

.single-products article { text-align:left; }
.single-products .article-footer { text-align:center; }

.read-button { font-size:10px; font-weight:800; text-transform:uppercase; padding:.5rem 1.5rem; border:2px solid #cc1c29; color:#242626; text-align:center; }
.read-button:hover { background-color:#cc1c29; color:#FFF; text-align:center; }

.page-title { text-align:center; margin:2em 0em 1em 0em;}
.archive.category.category-news .page-title { text-align:center; margin:2em 0em 2em 0em;}
.content-title { text-align:center; margin:1em 0em;}

.staff-grid { margin-bottom:4em; }
.staff-grid article { position:relative; margin-bottom:2em; }
.staff-grid article .staff-image { position:relative; }
.staff-grid article .staff-content { color:#FFF; position:absolute; background-color:rgba(0, 92, 181, 0.8); bottom:0px; width:100%; padding:1em 1em 3em; }
.staff-grid article .staff-content .title { font-weight:600; }
.staff-grid article .staff-content h4 { font-size:16px; }
.staff-grid article .staff-content a { color:#FFF; }

.single-staff .staff button.non-button { cursor:pointer; }
.single-staff .staff .button { font-size:10px; text-transform:uppercase; font-weight:800; padding:.5em 2em; background-color:transparent; }
.single-staff .staff .button.download { color:#FFF; border:2px solid #a11217; background-color:#a11217;  }
.single-staff .staff .button.download:hover { background-color:#cc1c29; }
.single-staff .staff .button.info { border:2px solid #cc1c29; color:#242626; }
.single-staff .staff .button.info:hover { background-color:#cc1c29; color:#FFF; }


.single-staff .staff .entry-content p { text-align:left; }

.videos .main article .article-header .title { padding:.5em 1em 2em 1em; }
.videos .main article .article-header .title a { color:inherit; }

/*********************
NINJA FORM CUSTOMIZATIONS
*********************/


/*********************
OWL CAROUSEL CUSTOMIZATIONS
*********************/
#partner-carousel .owl-prev, #partner-carousel .owl-next { width: 15px; height: 70px; position: absolute; top: 0%; display: block !important; }
#partner-carousel .owl-prev { margin-left: -20px; }
#partner-carousel .owl-next { right: -25px; }
#partner-carousel .owl-prev i, #partner-carousel .owl-next i {transform : scale(2,3); color: #003D94;} 
#partner-carousel .owl-item img { max-height:70px; width:auto; margin:auto; }

/*********************
MEDIA QUERIES
*********************/

/* Define mobile styles */
@media only screen {
  header.header { border-bottom: 0; }
  .top-bar .top-bar-left, .top-bar .top-bar-right { max-width:unset; flex:unset; -ms-flex:unset; -webkit-flex:unset; -webkit-box-flex:unset; }
  #main-nav { width:initial; }
  .page-title { text-align:center; margin:3em 0em 2em 0em;}
  /*.orbit-caption { width:93%; margin:3%; padding:1em 2em; font-size:12px; }*/
  .orbit-caption { width:100%; margin:0%; padding:0em; font-size:12px; background-color:rgba(0,0,0,.6); height:-webkit-fill-available; }
  .orbit-caption .orbit-caption-meta { padding:2em; }
  .orbit-caption h2 { font-size:16px; margin-bottom:0rem; font-weight:700; }
  .orbit-caption h4 { font-size:12px; font-weight:600; }
  .orbit-caption p { margin-bottom:0; margin-top:1rem; }
  .footer .inner-footer { text-align:center; }

} 

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
  header.header { border-bottom: 4px solid #003d94; }
  .top-bar .top-bar-left, .top-bar .top-bar-right { max-width:inherit; flex:inherit; -ms-flex:inherit; -webkit-flex:inherit; -webkit-box-flex:inherit; }
  #main-nav { width:max-content; }
  .page-title { text-align:center; margin:2em 0em 1em 0em;}
  .orbit-caption { width:55%; margin:5% 0%; padding:2em; font-size:14px; height:auto; }
  .orbit-caption .orbit-caption-meta { padding:inherit; }
  .orbit-caption h2 { font-size:24px; margin-bottom:.5rem; font-weight:700; }
  .orbit-caption h4 { font-size:18px; font-weight:600; }
  .orbit-caption p { margin-bottom:1rem; }
  .footer .inner-footer { text-align:inherit; }

}

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
#main-nav { width:initial; }
.orbit-caption { width:40%; margin:10% 0%; padding:2.5em; font-size:inherit; }
} 

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {

} 

/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {

} 